@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Stylish&display=swap');

html {
    scroll-behavior: smooth;
}
* {
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
}
body {
    /*background-image: radial-gradient(ellipse, rgb(255, 100, 100) 40%, rgb(255, 90, 90) 80%, rgb(255, 80, 80));*/
    background-color: rgb(255, 90, 90);
    margin: 0;
}
a {
    text-decoration: none; 
}
#contact-number {
    margin: 0 2.9% -1% 0;
    text-align: right;
}
nav {
    padding: 0 3% 2% 3%;
    margin: 0;
}
nav ul{
    margin: 0;
    padding: 0;
    text-align: center;
}
nav ul li {
    display: inline-block;
    margin: -2.8px; 
}
.nav-links { /* contains the list strings */
    font-size: 1.5em;
    padding: 0 50px 0 50px;
    font-weight: bold;
    color: rgb(235, 235, 0);
    border-left: 1px solid rgb(235, 235, 0);
    border-right: 1px solid rgb(235, 235, 0);
    text-decoration: none;
}
.nav-links:hover {
    color: rgb(255, 255, 255);
}
#links-area {
    margin: 0;
}
#logo-area {
    margin: 0;
}
#logo {
    width: 30px;
    padding: 0;
}
#login-area {
    margin: 0;
}
#login {
    border: 1px solid rgb(235, 235, 0);
    font-size: 0.95em;
    font-weight: bold;
    color: rgb(235, 235, 0);
    width: 75px;
    height: 30px;
    margin: 0;
    padding: 3px 8px 3px 8px;
}
#login:hover {
    color: rgb(255, 255, 255);
}
hr {
    margin: 0;
    border: 0;
    height: 1px;
    width: 90%;
    background-color: rgb(235, 235, 0);
}
header {
    display: inline;
    margin: 0;
}
.flex-box-container-one {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 999;
}
.flex-box-container-two {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}
.h1-white {
    font-family: 'Stylish', Arial, sans-serif;
    font-size: 5em;
    font-weight: bolder;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0.5% 0 0.5% 0;
}
.h1-yellow {
    font-family: 'Stylish', Arial, sans-serif;
    font-size: 5em;
    font-weight: bolder;
    text-align: center;
    color: rgb(235, 235, 0);
    margin: 0;
    padding: 0.5% 0 0.5% 0;
}
#salmon-image {
    width: 80%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 7% auto 0 auto;
    opacity: 0.8;
    z-index: 1;
}
main {
    margin: 0;
    overflow-y: scroll;
    height: 73vh;
}
section {
    display: table;
    margin: 0 auto;
}
h2 {
    font-size: 2em;
    position: relative;
    color: rgb(255, 235, 0);
    z-index: 999;
    text-align: center;
    margin: 0;
    padding: 1%;
}
.sales-list {
    list-style-type: none;
    font-size: 1.2em;
    font-weight: bolder;
    position: relative;
    z-index: 999;
}
footer {
    text-align: center;
    margin: 0;
    padding: 1%;
}
