@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Stylish&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@keyframes shake { /* from w3schools "https://www.w3schools.com/howto/howto_css_shake_image.asp" */
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
* {
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background-image: radial-gradient(ellipse, rgb(255, 105, 105) 25%, rgb(255, 80, 80));
    min-width: 960px;
    margin: 0;
}
#contact-number {
    margin: -0.2% 2.9% -0.6% 0;
    text-align: right;
}
nav {
    margin: 0;
    padding: 0 3% 0.5% 3%;
}
.flex-box-container-two {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    z-index: 999;
}
#logo-area {
    margin: 0 0 -4px 0;
}
#logo {
    padding: 0;
    width: 40px;
}
#links-area {
    margin: 0;
}
nav ul{
    margin: 0;
    padding: 0;
    text-align: center;
}
nav ul li {
    display: inline-block;
    margin: -2.8px; 
}
.nav-links { 
    border-left: 1px solid rgb(235, 235, 0);
    border-right: 1px solid rgb(235, 235, 0);
    padding: 0 50px 0 50px;
    color: rgb(235, 235, 0);
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
}
.nav-links:hover {
    color: rgb(255, 255, 255);
}
#login-area {
    margin: 0;
}
#login {
    margin: 0;
    border: 1px solid rgb(235, 235, 0);
    border-radius: 25px;
    padding: 3px 8px 3px 8px;
    height: 30px;
    width: 75px;
    background-color: rgb(255, 120, 120, 0.85);
    color: rgb(235, 235, 0);
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 
    inset 0 2px 5px 0 rgba(255, 255, 255, 0.5),
    inset 0 0 3px 0 rgba(0, 0, 0, 0.5),
    inset 0 0 3px 5px rgba(0, 0, 0, 0.05),
    0 6px 5px rgb(0, 0, 0, 0.30);
}
#login:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 140, 140, 0.85);
}
.flex-box-container-one {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
hr {
    margin: 0;
    border: 0;
    padding: 1px;;
    width: 95%;
    background-color: rgb(235, 235, 0);
}
.middle-section {
    margin: 0 0 0 0;
    width: 100%;
}
#salmon-image {
    display: block;
    margin: 0 auto 0 auto;
    width: 33.8%;
}
#salmon-image:hover {
    animation: shake 0.7s; 
    animation-iteration-count: infinite; 
}
.quotation {
    margin: 0.4% 0 0 0;
    font-size: 1.5em;
    font-weight: bolder;
    font-family: 'Indie Flower', cursive;
    color: rgb(235, 235, 0);
}
main {
    margin: 0;
}
.h1-yellow {
    margin: 0;
    padding: 0.4% 0 0.4% 0;
    color: rgb(235, 235, 0);
    font-family: 'Stylish', Arial, sans-serif;
    font-size: 5em;
    font-weight: bolder;
    text-align: center;
}
.h1-white {
    margin: 0;
    padding: 0.4% 0 0.4% 0;
    color: rgb(255, 255, 255);
    font-family: 'Stylish', Arial, sans-serif;
    font-size: 5em;
    font-weight: bolder;
    text-align: center;
}
#tm {
    margin: 0 0 10px 0;
    font-size: 30px;
    font-weight: normal;
}
section {
    display: block;
    width: 100%;
    padding: 1.4% 0 1.4% 0;
}
table {
    margin: 0 auto 0 auto;
    border: 1px solid rgb(235, 235, 0);
    padding: 1%;
    min-width: 875px;
    background-color: rgb(255, 120, 120, 0.85);
    border-radius: 25px;
    box-shadow: 
    inset 0 2px 5px 0 rgba(255, 255, 255, 0.5),
    inset 0 0 3px 0 rgba(0, 0, 0, 0.5),
    inset 0 0 3px 5px rgba(0, 0, 0, 0.05),
    0 6px 5px rgb(0, 0, 0, 0.25);
}
#sales-table {
    font-size: 1em;
    font-weight: bolder;
    list-style-type: none;
}
th {
    padding: 0.5%;
}
td {
    border-radius: 25px;
    text-align: center;
}
td:first-child {
    width: 175px;
    color: rgb(235, 235, 0);
}
.bottom-section {
    display: block;
    padding: 0 0 0.5% 0;
    text-align: center;
}
.hours-locations {
    font-size:1.2em;
}
.hours-locations-placeholder {
    font-size:1.2em;
    color: rgb(255, 90, 90);
    color: rgb(255, 90, 90, 0);
}
.highlight {
    color: rgb(235, 235, 0);
    font-weight: bolder;
}
footer {
    margin: 0;
    padding: 1%;
    text-align: center;
}